.movePossible {
    background: blue;
}
.opponent {
    background: tomato;
}
.items {
    background: yellow;
}

.map {
    background-image: url('../assets/js/map.png');
}

.cell {
    border: 1px solid #555;
    width: 24px !important;
    height: 24px !important;
    text-align: center;
}